@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/*Cuidado*/
* {
  user-select: none;
}
input:focus {
  outline-width: 0;
  transform: scale(1.05);
  transition: all ease 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Cuidado*/

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 24px;
  justify-content: center;
}

.product-card {
  background: #fff;
  border-radius: 16px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  text-align: center;
  /* cursor: pointer; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.product-card-main {
  margin: 16px 40px 0px 40px;
  transition: all 0.3s ease;
  outline: none;
  user-select: none;
}
.product-card-main:hover {
  /* transform: scale(1.05); */
  transition: all 0.3s ease;
  cursor: pointer;
}
.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  outline: none;
}

.product-price {
  /* color: rgb(248 113 113); */
  font-size: 1.25em;
  margin: 5px 0;
}

.product-ratings,
.product-description {
  font-size: 1em;
  color: #555;
  /* margin: 5px 0; */
}
.product-advice {
  font-size: 0.8em;
  color: #55555585;
  margin: 5px 0;
}
/* 
.horizontal-line {
  height: 1px;
  background-color: #e6e6e6;
  width: 12em;
  margin: 0 auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient( left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e66c 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, rgba(128, 128, 128, 0.181)),
    color-stop(0.98, white)
  );
} */
/*Manipula directamente la libreria del slider o carrusel*/
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.carousel-slider .control-arrow {
  height: 30px;
  width: 30px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel.carousel-slider .control-arrow:not(:hover) {
  opacity: 0.7;
}
#Heart {
  color: rgb(255, 255, 255);
}

.hover-center-text:hover {
  padding-left: calc(50% - (var(--text-width) / 2));
  padding-right: calc(20% - (var(--text-width) / 2));
}
.ui.icon.input {
  min-width: 25vmax;
}
.ui.icon.input > input:hover {
  padding-right: 8em !important;
  transition: all ease 0.2s;
}
.ui.icon.input > input {
  transition: all ease 0.2s;
}
.results .transition {
  overflow: visible;
}
.ui.search > .results {
  overflow-y: scroll;
  max-height: 70vh;
}
@media (max-width: 767px) {
  .ui.icon.input {
    display: flex;
  }
  .ui.icon.input > input {
    width: 42vmax; /* Ocupa todo el ancho disponible */
    transition: all ease 0.2s;
  }
  .ui.icon.input > input:hover {
    width: 90vw !important;
    transition: all ease 0.2s;
  }
  .ui.icon.input {
    min-width: 10vmax;
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
